@import url("../css/componnent/button.css");
@import url("../css/componnent/about.css");
@import url("../css/componnent/navbar.css");


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #003459, #007ea7);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px;
    padding: 0px;
    background: linear-gradient(to right, #025189, #218eb3);
    border-radius: 30px;
    text-align: center; 
    margin: 30px; 
    padding: 20px; 
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
    background: linear-gradient(to right, #025189, #218eb3);
    border-radius: 25px;
    flex-wrap: wrap;
    font-size: small;
}

.title {
    color: #ced1da;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px;
}

.list {
    margin-top: 10px;
    text-align: center;
    color: #EEE8AA;
}

.description {
    color: #EEE8AA;
    font-size: 20px;
}



@media screen and (max-width: 768px) {
    .container {
        width: 80%; 
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%; 
    }
}
